{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vuetify CDN -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!--css sheet-->
    <link rel="stylesheet" href="{% static 'PlanDirectApp/style.css' %}">

    <title>Tic'nun Ya'shir</title>
</head>

<body>
    <main>
        <div id="app">
            <v-app>
                <div>
                    <div>
                        <v-container>
                                <v-row>
                                    <v-col  class=" d-flex justify-start mb-6"cols="2" nav>
                                        <v-card>
                                            <v-navigation-drawer permanent expand-on-hover>
                                                <v-list>
                                        
                                                    <v-list-item link>
                                                        <v-list-item-content>
                                                            <v-list-item-title class="text-h6">
                                                                {{ user }}
                                                            </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                </v-list>
                                        
                                                <v-divider></v-divider>
                                        
                                                <v-list nav dense>
                                                    <v-list-item link>
                                                        <v-list-item-icon>
                                                            <i class="fas fa-home"></i>
                                                        </v-list-item-icon>
                                                        <v-list-item-title>Home Page</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item link>
                                                        <v-list-item-icon>
                                                            <i class="fas fa-star"></i>
                                                        </v-list-item-icon>
                                                        <v-list-item-title>Goals</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item link>
                                                        <v-list-item-icon>
                                                            <i class="fas fa-history"></i>
                                                        </v-list-item-icon>
                                                        <v-list-item-title>Histroy</v-list-item-title>
                                                    </v-list-item>
                                                </v-list>
                                            </v-navigation-drawer>
                                        </v-card>
                                    </v-col>
                                    <v-col class=" d-flex justify-space-around mb-2" cols="5">                                            
                                                    {% block calendar %}
                                                    {% endblock %}
                                            <v-col class=" d-flex justify-space-around mb-2" cols="5">
                                                {% block content %}
                                                {% endblock %}
                                            </v-col>
                                        </v-row>
                                    </v-col>
                                </v-row>
                        </v-container>
                    </div>
            </v-app>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),

            delimiters: ['[[', ']]'],
            data: () => ({
                focus: '',
                type: 'month',
                typeToLabel: {
                    month: 'Month',
                    week: 'Week',
                    day: 'Day',
                    '4day': '4 Days',
                },
                selectedEvent: {},
                selectedElement: null,
                selectedOpen: false,
                events: [],
                color: '',
                name: '',
                details: '',
                start: '',
                end: '',
                dialog: false,
                currentlyEditing: false,
                csrfmiddlewaretoken:'',
            }),
            mounted() {
                this.$refs.calendar.checkChange()
                this.csrfmiddlewaretoken=document.querySelector('input[name="csrfmiddlewaretoken"]').value
            },
            methods: {
                viewDay(event) {
                    this.focus = event.date
                    this.type = 'day'
                    
                },
                get_tasks () {
                    axios({
                        method: 'GET',
                        url: 'get_tasks/'
                    }).then(response => {
                        console.log(this.events)
                        const tasks = response.data.tasks
                        tasks.forEach(task => {
                            task.name = task.task,
                            task.start = new Date(task.start)
                        })
                        this.events = tasks
                        console.log(this.events)
                    })
                },
                addTask() {
                    axios({
                        method: 'POST',
                        url: 'new_task/',
                        data: {
							task: this.name,
                            details: this.details,
                            start: this.start,
                            color: this.color
						},
						headers: {
							'X-CSRFToken': this.csrfmiddlewaretoken
						}
					}).then(response => this.get_tasks())
					.catch(err => console.log(err))
                },
                editEvent(ev) {
                    this.currentlyEditing = ev.id;
                },
                // updateEvent() {
                //     axios({
                //         method: 'POST',
                //         url: 'update_task/',
                // pete comment urls will look like 'update_task/1', 'update_task/2', etc...
                //         data: {
                //             details: this.details
                //         },
                //         headers: {
                //             'X-CSRFToken': this.csrfmiddlewaretoken
                //         }
                //     }).then(response => console.log(response))
                //     .catch(err => console.log(err))
                // },
                getEventColor(event) {
                    return event.color
                },
                setToday() {
                    this.focus = ''
                },
                prev() {
                    this.$refs.calendar.prev()
                },
                next() {
                    this.$refs.calendar.next()
                },
                showEvent({ nativeEvent, event }) {
                    const open = () => {
                        this.selectedEvent = event
                        this.selectedElement = nativeEvent.target
                        requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
                    }

                    if (this.selectedOpen) {
                        this.selectedOpen = false
                        requestAnimationFrame(() => requestAnimationFrame(() => open()))
                    } else {
                        open()
                    }

                    nativeEvent.stopPropagation()
                },
                updateRange({ start, end }) {
                    const events = []
                    
                    const min = new Date(`${start.date}T00:00:00`)
                    const max = new Date(`${end.date}T23:59:59`)
                    const days = (max.getTime() - min.getTime()) / 86400000
                    const eventCount = this.rnd(days, days + 20)
                },
                rnd(a, b) {
                    return Math.floor((b - a + 1) * Math.random()) + a
                },
                getRandomColor() {
                    var letters = '0123456789ABCDEF';
                    let color = '#';
                    for (var i = 0; i<6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color
                }
            },
            created() {
                this.get_tasks()
            }
        })
    </script>

</body>

</html>