{% extends 'PlanDirectApp/base.html' %}

{% block title %}
    <title>History</title>
{% endblock %}


{% block main %}
    <v-row class="d-flex justify-center">
        <v-expansion-panels popout class="d-flex " @click="on" sstyle="width: 75%;">
        <v-expansion-panel
            v-for="(entry,i) in entries"
            :key="i"
        >
            <v-expansion-panel-header>[[ entry.date ]]</v-expansion-panel-header>
            <v-expansion-panel-content> 
            [[entry.text]]
            </v-expansion-panel-content>
        </v-expansion-panel>
        </v-expansion-panels>
    </v-row>  
{% endblock %}
    