{% extends 'PlanDirectApp/base.html' %}

{% block title %}
    <title>History</title>
{% endblock %}


{% block main %}
<p>test</p>
<template>
    <v-row justify="center">
        <v-expansion-panels popout>
        <v-expansion-panel
            v-for="entry in entries"
            :key="i"
        >
            <v-expansion-panel-header>[[ entry. date ]]</v-expansion-panel-header>
            <v-expansion-panel-content>
            [[ entry.text ]]
            </v-expansion-panel-content>
        </v-expansion-panel>
        </v-expansion-panels>
    </v-row>
</template>  
{% endblock %}
    