{% extends 'PlanDirectApp/base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'PlanDirectApp:new_entry' %}" method="POST">
    {%csrf_token%}
    <div>
        <label for="user" ></label>
        <div >
            <input type="text">
        </div>
        <div>
            <a href="{% url 'PlanDirectUser:login_user' %}">Login</a>
            <a href="{% url 'PlanDirectUser:new_user' %}">New User?</a>
        </div>
    </div>
    <div>
        <label for="post" >Put your thougths down here:</label>
        <div>
            <input type="text" name="entry" id="entry">
        </div>
        <div>
            <button type="submit">Save Entry</button>
        </div>
    </div>
</form>
<v-container>
    {% for entry in entries%}
    <div>{{ entry }}</div>
    {% endfor %}
</v-container>
{% endblock %}

{% block calendar%}
<v-row class="fill-height">
    <v-col>
        <v-sheet height="64">
            <v-toolbar flat>
                <v-btn outlined class="mr-4" color="primary" @click="dialog = true" dark>New Task</v-btn>
                <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
                    Today
                </v-btn>
                <v-btn fab text small color="grey darken-2" @click="prev">
                    <v-icon small>
                        mdi-chevron-left
                    </v-icon>
                </v-btn>
                <v-btn fab text small color="grey darken-2" @click="next">
                    <v-icon small>
                        mdi-chevron-right
                    </v-icon>
                </v-btn>
                <v-toolbar-title v-if="$refs.calendar">
                
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                            <span></span>
                            <v-icon right>
                                mdi-menu-down
                            </v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item @click="type = 'day'">
                            <v-list-item-title>Day</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="type = 'week'">
                            <v-list-item-title>Week</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="type = 'month'">
                            <v-list-item-title>Month</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="type = '4day'">
                            <v-list-item-title>4 days</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-toolbar>
        </v-sheet>
        {% csrf_token %}

        <!-- Event Dialog box -->
        <v-dialog v-model="dialog" max-width="500">
            <v-card>
                <v-container>
                    <v-form @submit.prevent="addTask">
                        <v-text-field v-model="name" type="text" label="event name (required)"></v-text-field>
                        <v-text-field v-model="details" type="text" label="details"></v-text-field>
                        <v-text-field v-model="start" type="date" label="start (required)"></v-text-field>
                        <v-text-field v-model="end" type="date" label="end (required)"></v-text-field>
                        <v-text-field v-model="color" type="color" label="color (click for a color wheel)"></v-text-field>
                        <v-btn type="submit" color="primary" class="mr-4" @click.stop="dialog=false">Submit</v-btn>
                    </v-form>
                </v-container>
            </v-card>
        </v-dialog>

        <v-sheet height="600">
            <v-calendar ref="calendar" v-model="focus" color="primary" :events="events"
                :event-color="getEventColor" :type="type" @click:event="showEvent"
                @click:more="viewDay" @click:date="viewDay" @change="updateRange">
            </v-calendar>
            <v-menu v-model="selectedOpen" :close-on-content-click="false"
                :activator="selectedElement" offset-x>
                <v-card color="grey lighten-4" min-width="350px" flat>
                    <v-toolbar :color="selectedEvent.color" dark>
                        <v-btn @click="deleteEvent(selectedEvent.id)" icon>
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                        <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-card-text>
                        <form v-if="currentlyEditing !== selectedEvent.id">
                            [[ selectedEvent.details ]]
                        </form>
                        <form v-else>
                            <textarea
                                v-model="selectedEvent.details"
                                type="text"
                                style="width: 100%"
                                :min-height="100"
                                placeholder="add note">
                            </textarea>
                        </form>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn text color="secondary" @click="selectedOpen = false">
                            Close
                        </v-btn>
                        <v-btn text v-if="currentlyEditing !== selectedEvent.id"
                        @click.prevent="editEvent(selectedEvent)">
                            Edit
                        </v-btn>
                        <v-btn text v-else @click.prevent="updateEvent(selectedEvent)">
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-menu>
        </v-sheet>
    </v-col>                                                
</v-col>
{% endblock %}