{% extends 'PlanDirectApp/base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'PlanDirectApp:new_entry' %}" method="POST">
    {%csrf_token%}
    <div>
        <label for="user" ></label>
        <div >
            <input type="text">
        </div>
        <div>
            <a href="{% url 'PlanDirectUser:login_user' %}">Login</a>
            <a href="{% url 'PlanDirectUser:new_user' %}">New User?</a>
        </div>
    </div>
    <div>
        <label for="post" >Put your thougths down here:</label>
        <div>
            <input type="text" name="entry" id="entry">
        </div>
        <div>
            <button type="submit">Save Entry</button>
        </div>
    </div>
</form>
<v-container>
    {% for entry in entries%}
    <div>{{ entry }}</div>
    {% endfor %}
</v-container>
{% endblock %}

{% block calendar%}
<v-row class="fill-height">
    <v-col>
        <v-sheet height="64">
            <v-toolbar flat>
                <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
                    Today
                </v-btn>
                <v-btn fab text small color="grey darken-2" @click="prev">
                    <v-icon small>
                        mdi-chevron-left
                    </v-icon>
                </v-btn>
                <v-btn fab text small color="grey darken-2" @click="next">
                    <v-icon small>
                        mdi-chevron-right
                    </v-icon>
                </v-btn>
                <v-toolbar-title v-if="$refs.calendar">
                
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                            <span></span>
                            <v-icon right>
                                mdi-menu-down
                            </v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item @click="type = 'day'">
                            <v-list-item-title>Day</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="type = 'week'">
                            <v-list-item-title>Week</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="type = 'month'">
                            <v-list-item-title>Month</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="type = '4day'">
                            <v-list-item-title>4 days</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-toolbar>
        </v-sheet>
        <v-sheet height="600">
            <v-calendar ref="calendar" v-model="focus" color="primary" :events="events"
                :event-color="getEventColor" :type="type" @click:event="showEvent"
                @click:more="viewDay" @click:date="viewDay" @change="updateRange">
            </v-calendar>
            <v-menu v-model="selectedOpen" :close-on-content-click="false"
                :activator="selectedElement" offset-x>
                <v-card color="grey lighten-4" min-width="350px" flat>
                    <v-toolbar :color="selectedEvent.color" dark>
                        <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-card-text>
                        <span v-html="selectedEvent.details"></span>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn text color="secondary" @click="selectedOpen = false">
                            Close
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-menu>
        </v-sheet>
    </v-col>                                                
</v-col>
{% endblock %}