{% extends "PlanDirectApp/base.html" %}
{% block main %}
<v-container fluid>
<v-form
ref="form"
  v-model="valid"
  class="align-center"
  action="{% url 'PlanDirectUser:login_user' %}"
  method="POST"
  class="d-flex justify-space-between"
  lazy-validation
>
  {% csrf_token %}
  <v-text-field
    v-model="name"
    :counter="10"
    :rules="nameRules"
    label="Name"
    required
    ></v-text-field>
    
    <v-text-field
    v-model="email"
    :rules="emailRules"
    label="E-mail"
    required
  ></v-text-field>

  <v-btn color="primary" class="mr-4" @click="validate">
    Login
  </v-btn>
</v-form>
</v-container>
{% endblock %}