{% extends "PlanDirectApp/base.html" %} {% block main %}
<v-form
  href="{% url 'PlanDirectUser:new_user' %}"
  method="POST"
  v-model="valid"
>
  {%csrf_token%}
  <v-container fluid>
    <v-row>
      <v-col cols="12" md="4">
        <v-text-field
          v-model="firstname"
          :rules="nameRules"
          :counter="10"
          label="First name"
          required
        ></v-text-field>
      </v-col>

      <v-col cols="12" md="4">
        <v-text-field
          v-model="lastname"
          :rules="nameRules"
          :counter="10"
          label="Last name"
          required
        ></v-text-field>
      </v-col>

      <v-col cols="12" md="4">
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
        ></v-text-field>

        <v-btn
          :disabled="!valid"
          color="primary"
          class="mr-4"
          @click="validate"
        >
          Login
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</v-form>
{% endblock %}
